@model CloudSync.Models.GenreArtists

<div class="container-fluid">
    <div class="row">
        <!-- favourites -->
        <div class="col-3 favourites-column general-column">
            <h2 class="column-headings">My Favourites</h2>
            <p class="artist-info-biography mt-3 text-center">
                Nothing to see here yet.
            </p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- artists in selected Genre -->
                <div class="col-6 browse-column general-column">
                    <!-- back button redirects to index from GenresController) -->
                    <a href="@Url.Action("Index", "Genres")" class="me-3">
                        <img src="~/images/back.png" alt="Back" class="back-button">
                    </a>
                    <h2 class="column-headings">Artists in @Model.GenreName</h2>
                    <div class="row">
                        @if (@*Model.Artists == null *@ !Model.Artists.Any())
                        {
                            <p class="text-center">Nothing to see here yet.</p>
                        }
                        else
                        {
                            @foreach (var artist in Model.Artists)
                            {
                                <div class="col-4 genres">
                                    <a href="@Url.Action("SongsByArtist", "Artists", new { artistId = artist.ArtistId })">
                                        <img src="@Url.Content(artist.Image)" alt="@artist.ArtistName" class="img-fluid artist-image" />
                                    </a>
                                    <p class="artist-genre-name text-center">@artist.ArtistName</p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <!-- biography -->
                <div class="col-3 info-column general-column">
                    <h2 class="column-headings">Biography</h2>
                    <p class="artist-info-biography mt-3 text-center">
                        Nothing to see here yet.
                    </p>
                </div>
            </div>
        </div>
