@model IEnumerable<CloudSync.Models.Genre>

<div class="container-fluid">
    <div class="row">
        <!-- favourites -->
        <div class="col-3 favourites-column general-column">
            <h2 class="column-headings">My Favourites</h2>
            <p class="artist-info-biography mt-3 text-center">
                Nothing to see here yet.
            </p>
        </div>

        <!-- genres -->
        <div class="col-6 browse-column general-column">
            <h2 class="column-headings">Browse Genres</h2>
            <div class="row">
                @foreach (var genre in Model)
                {
                    @* <div class="col-4 genres">
                        <a class="btn btn-primary btn-block" href="@Url.Action("ArtistsByGenre", "Genres", new { genreId = genre.GenreId })">
                            @genre.GenreName
                        </a>
                    </div> *@
                    <div class="col-4 genres genre-image">
                        <a href="@Url.Action("ArtistsByGenre", "Genres", new { genreId = genre.GenreId })">
                            <img src="@Url.Content(genre.GenreImage)" alt="@genre.GenreName" class="img-fluid genre-image" />
                        </a>
                        <p class="genre-name text-center">@genre.GenreName</p>
                    </div>
                }
            </div>
        </div>

        <!-- biography -->
        <div class="col-3 info-column general-column">
            <h2 class="column-headings">Biography</h2>
            <p class="artist-info-biography mt-3 text-center">
                Nothing to see here yet.
            </p>
        </div>
    </div>
</div>
